/*SKILLS SECTION*/
.skills-section{
  background-color:#71a9e4;
  width: 100%;
  z-index: 0;
}

/* TITLE */
.about-myself {
  padding: 0px 20px;
}
.about-myself .content-skills {
  text-align: center;
}
.about-myself .content-skills h2{
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transform: translateY(-50px) scale(0);
  transform: translateY(-50px) scale(0);
  -webkit-transition: transform .7s;
  -moz-transition: transform .7s;
  transition: transform .7s;
}
.about-myself .content-skills .aboutTitleVisible {
  -webkit-transform: translateY(0px) scale(1);
  transform: translateX(0px) scale(1);
}

/* SKILLS */

.skills .content-skills .development-wrapper .skills-bar-container {
  position: relative;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 72px;
}
.skills .content-skills .development-wrapper .skills-bar-container li {
  width: 100%;
  margin-bottom: 20px;
}
.skills .content-skills .development-wrapper .skills-bar-container li .progressbar-title {
  color: white;
  margin-bottom: 0px;
}
.skills .content-skills .development-wrapper .skills-bar-container li .progressbar-title h1 {
  display: inline-block;
  font-size:0.7em;
}
.skills .content-skills .development-wrapper .skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 0px;
  margin-top: 3px;
  font-size: 1em;

}
.skills .content-skills .development-wrapper .skills-bar-container li .bar-container {
  background: #ececec;
  position: relative;
  width: 100%;
  height: 10px;
}
.skills .content-skills .development-wrapper .skills-bar-container li .bar-container .progressbar {
  background: #34495e;
  position: absolute;
  width: 0%;
  height: 100%;

}
@media screen and (min-width: 0px) {
  .skills .content-skills .development-wrapper{
    width: 70%;
    margin: auto;
}
@media screen and (min-width: 640px) {
  .skills {
    padding-left: 0;
    padding-right: 0;
  }
  .skills .content-skills .development-wrapper {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 960px) {
  
  
  .skills .content-skills .development-wrapper {
    float: center;
  }
  .skills .content-skills .development-wrapper {
    margin-bottom: 0;
    width: 60%;
  }
}

/*CARDS*/
.card{
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:justify;
  padding-top:10px;
}
.card h1{
  font-size: 1.5em;
  margin-bottom: 10px;
}
.card .card-list{
padding-left:20px;
font-size:18px;;
}
.card i{
 color: #27ae60;
}
.card-container{
  padding-bottom:50px;
}
@media screen and (min-width: 300px){
.card-container{
  text-align:center;
}
.card{
  width:300px;
  height:250px;
  margin:auto;
  margin-top:20px;
}
}
@media screen and (min-width: 900px){
.card{
  display:inline-block;
  margin: 30px;
}
}

/* STATEMENT */
.yo{
object-fit: cover;
display: block;
margin: auto;
}
.statement{
text-align: center; 
padding: 40px 50px;
font-size: 1em;
color: white;
}
